<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cmd restart exe</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Make exe quit, systemd will restart it automatically</string>
		<key>key</key>
		<string>0x0050</string>
	</dict>
	<key>Cmd relays to default</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Return all relays to default configuration</string>
		<key>key</key>
		<string>0x0140</string>
	</dict>
	<key>Get relative clocking</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the relative clocking between the screens</string>
		<key>key</key>
		<string>0x0C20</string>
	</dict>
	<key>Cmd surpress tm packets</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>number</string>
		</array>
		<key>description</key>
		<string>Supress the next number of tm packets </string>
		<key>key</key>
		<string>0x0071</string>
	</dict>
	<key>Get aspect int parameter</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>code</string>
		</array>
		<key>description</key>
		<string>Request a float type aspect parameter</string>
		<key>key</key>
		<string>0x0B11</string>
	</dict>
	<key>Get aspect float parameter</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>code</string>
		</array>
		<key>description</key>
		<string>Request an int type aspect parameter</string>
		<key>key</key>
		<string>0x0B21</string>
	</dict>
	<key>Get camera twist</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the currently set camera twist</string>
		<key>key</key>
		<string>0x0B30</string>
	</dict>
	<key>Get solar target Y</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the current solar target Y in arcsec</string>
		<key>key</key>
		<string>0x0A20</string>
	</dict>
	<key>Get solar target X</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the current solar target X in arcsec</string>
		<key>key</key>
		<string>0x0A10</string>
	</dict>
	<key>Get latitude</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>float2b</string>
		</array>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the current latitude</string>
		<key>key</key>
		<string>0x0CA0</string>
	</dict>
	<key>Get longitude</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>float2b</string>
		</array>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the current longitude</string>
		<key>key</key>
		<string>0x0CB0</string>
	</dict>
	<key>Set camera twist</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>float2b</string>
		</array>
		<key>var_names</key>
		<array>
			<string>angle</string>
		</array>
		<key>description</key>
		<string>Set relative clocking angle of screen, positive from zenith when looking at the screen</string>
		<key>key</key>
		<string>0x0731</string>
	</dict>
	<key>Set relative clocking</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>float2b</string>
		</array>
		<key>var_names</key>
		<array>
			<string>angle</string>
		</array>
		<key>description</key>
		<string>Set relative clocking angle of screen, positive from zenith when looking at the screen</string>
		<key>key</key>
		<string>0x0621</string>
	</dict>
	<key>Cmd request RAS image</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request an image from the RAS</string>
		<key>key</key>
		<string>0x0220</string>
	</dict>
	<key>Set aspect int parameter</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
			<string>int16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>code</string>
			<string>value</string>
		</array>
		<key>description</key>
		<string>Set an aspect parameter (int)</string>
		<key>key</key>
		<string>0x0712</string>
	</dict>
	<key>Set aspect float parameter</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
			<string>float2b</string>
		</array>
		<key>var_names</key>
		<array>
			<string>code</string>
			<string>value</string>
		</array>
		<key>description</key>
		<string>Set an aspect parameter (float)</string>
		<key>key</key>
		<string>0x0722</string>
	</dict>
	<key>Cmd send CTL test solutions</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array>
			<string>value</string>
		</array>
		<key>description</key>
		<string>Send a linearly decreasing pulse of CTL solutions</string>
		<key>key</key>
		<string>0x0081</string>
	</dict>
	<key>Cmd shutdown</key>
	<dict>
		<key>var_type</key>
		<string></string>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request a clean shutdown of the system</string>
		<key>key</key>
		<string>0x00f0</string>
	</dict>
	<key>Get PYAS exposure</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the current PYAS exposure value</string>
		<key>key</key>
		<string>0x0850</string>
	</dict>
	<key>Get RAS exposure</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the current RAS exposure value</string>
		<key>key</key>
		<string>0x0950</string>
	</dict>
	<key>Get PYAS analog gain</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the disk usage for disk, returned as a percentage</string>
		<key>key</key>
		<string>0x0860</string>
	</dict>
	<key>Get RAS analog gain</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the current RAS analog gain value</string>
		<key>key</key>
		<string>0x0960</string>
	</dict>
	<key>Get PYAS preamp gain</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the disk usage for disk, returned as a percentage</string>
		<key>key</key>
		<string>0x0870</string>
	</dict>
	<key>Get RAS preamp gain</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Request the current RAS preamp gain value</string>
		<key>key</key>
		<string>0x0970</string>
	</dict>
	<key>Cmd stop outputting CTL</key>
	<dict>
		<key>var_names</key>
		<array/>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>description</key>
		<string>Start sending CTL solutions</string>
		<key>key</key>
		<string>0x0040</string>
	</dict>
	<key>Cmd start outputting CTL</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Start sending CTL solutions</string>
		<key>key</key>
		<string>0x0030</string>
	</dict>
	<key>Get disk usage</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>Disk ID</string>
		</array>
		<key>description</key>
		<string>Request the disk usage for disk, returned as a percentage</string>
		<key>key</key>
		<string>0x0881</string>
	</dict>
	<key>Set saving images flag</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>On/Off</string>
		</array>
		<key>description</key>
		<string>Set image saving boolean (1 for ON)</string>
		<key>key</key>
		<string>0x0421</string>
	</dict>
	<key>Set GPS updating flag</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>On/Off</string>
		</array>
		<key>description</key>
		<string>Set GPS updating boolean (1 for ON)</string>
		<key>key</key>
		<string>0x0431</string>
	</dict>
	<key>Set PYAS preamp gain</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>int16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>gain</string>
		</array>
		<key>description</key>
		<string>Set the preamp gain value</string>
		<key>key</key>
		<string>0x0491</string>
	</dict>
	<key>Set RAS preamp gain</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>int16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>gain</string>
		</array>
		<key>description</key>
		<string>Set the RAS preamp gain value</string>
		<key>key</key>
		<string>0x0591</string>
	</dict>
	<key>Cmd relay on</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>relay number</string>
		</array>
		<key>description</key>
		<string>Turn a relay ON (powered)</string>
		<key>key</key>
		<string>0x0101</string>
	</dict>
	<key>Cmd relay off</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>relay number</string>
		</array>
		<key>description</key>
		<string>Turn a relay OFF (unpowered)</string>
		<key>key</key>
		<string>0x0111</string>
	</dict>
	<key>Cmd all relays on</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Turn all relays ON (powered)</string>
		<key>key</key>
		<string>0x0120</string>
	</dict>
	<key>Cmd all relays off</key>
	<dict>
		<key>var_names</key>
		<array/>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>description</key>
		<string>Turn all relays OFF (unpowered)</string>
		<key>key</key>
		<string>0x0130</string>
	</dict>
	<key>Set PYAS analog gain</key>
	<dict>
		<key>var_names</key>
		<array>
			<string>gain</string>
		</array>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>description</key>
		<string>Set the analog gain value  (log scale, ~160 doubles the gain)</string>
		<key>key</key>
		<string>0x0481</string>
	</dict>
	<key>Set RAS analog gain</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>value</string>
		</array>
		<key>description</key>
		<string>Set the analog gain value  (log scale, ~160 doubles the gain)</string>
		<key>key</key>
		<string>0x0581</string>
	</dict>
	<key>Set PYAS exposure</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>time (us)</string>
		</array>
		<key>description</key>
		<string>Set exposure time, t in microseconds (default 15,000)</string>
		<key>key</key>
		<string>0x0451</string>
	</dict>
	<key>Set RAS exposure</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>uint16</string>
		</array>
		<key>var_names</key>
		<array>
			<string>time (us)</string>
		</array>
		<key>description</key>
		<string>Set exposure time, t in microseconds</string>
		<key>key</key>
		<string>0x0551</string>
	</dict>
	<key>Set solar target</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>int16</string>
			<string>int16</string>
		</array>
		<key>key</key>
		<string>0x0412</string>
		<key>description</key>
		<string>Set new solar target, x and y in arcseconds</string>
		<key>var_names</key>
		<array>
			<string>x</string>
			<string>y</string>
		</array>
	</dict>
	<key>Set latitude/longitude</key>
	<dict>
		<key>var_types</key>
		<array>
			<string>float2b</string>
			<string>float2b</string>
		</array>
		<key>key</key>
		<string>0x06A2</string>
		<key>description</key>
		<string>Set new latitude/longitude (degrees)</string>
		<key>var_names</key>
		<array>
			<string>x</string>
			<string>y</string>
		</array>
	</dict>
	<key>Cmd request PYAS image</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Ask for a full frame to be sent over TCP</string>
		<key>key</key>
		<string>0x0210</string>
	</dict>
	<key>Cmd restart all threads</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Kill and then restart all workers</string>
		<key>key</key>
		<string>0x0020</string>
	</dict>
	<key>Test</key>
	<dict>
		<key>var_types</key>
		<array/>
		<key>var_names</key>
		<array/>
		<key>key</key>
		<string>0x1000</string>
		<key>description</key>
		<string>send a test command (does nothing)</string>
	</dict>
	<key>Cmd kill all threads</key>
	<dict>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Kill all worker thread (except command listening thread)</string>
		<key>key</key>
		<string>0x0010</string>
	</dict>
</dict>
</plist>
